<app-es-wrapper class="es-wrapper">
  <main class="main-content-list">
    <div class="position">
      <label class="title">Chamados</label>
      <app-es-button text="NOVO CHAMADO"></app-es-button>
    </div>
    <div class="filters">
      <label class="box-filters">Dia atual</label>
      <label class="box-filters">Em aberto</label>
      <label class="box-filters">Meus chamados</label>
      <label class="box-filters">Todos</label>
    </div>
    <hr>
    <div class="pagination">
      <span><img src="assets/arrow-back.svg" alt=""></span>
      <span><img src="assets/arrow-forward.svg" alt=""></span>
    </div>
    <table>
      <thead>
        <th>Código</th>
        <th>Assunto</th>
        <th>Criação</th>
        <th>Solicitante</th>
        <th>Atendente</th>
      </thead>
      <tbody>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
        <tr>
          <td>#2050</td>
          <td>19/01/2025</td>
          <td>Olá” gostaria que trocassem meu mouse.</td>
          <td>Jorge Silva - Comercial</td>
          <td>Mauricio Souza</td>
        </tr>
      </tbody>
    </table>
  </main>


</app-es-wrapper>
