<app-es-wrapper class="es-wrapper">

  <div class="es-button">
    <app-es-button text="NOVO TICKET"></app-es-button>
  </div>
  <table>
    <thead>
      <th>Código</th>
      <th>Prioridade</th>
      <th>Criação</th>
      <th>Assunto</th>
      <th>Solicitante</th>
      <th>Setor</th>
      <th>Atendente</th>
    </thead>
    <tbody>
      <tr>
        <td>#2050</td>
        <td>baixa</td>
        <td>19/01/2025</td>
        <td>Olá” gostaria que trocassem meu mouse, não está funcionando normalmente.</td>
        <td>Jorge Silva</td>
        <td>Comercial</td>
        <td>Mauricio Souza</td>
      </tr>
      <tr>
        <td>#2050</td>
        <td>baixa</td>
        <td>19/01/2025</td>
        <td>Olá” gostaria que trocassem meu mouse, não está funcionando normalmente.</td>
        <td>Jorge Silva</td>
        <td>Comercial</td>
        <td>Mauricio Souza</td>
      </tr>
      <tr>
        <td>#2050</td>
        <td>baixa</td>
        <td>19/01/2025</td>
        <td>Olá” gostaria que trocassem meu mouse, não está funcionando normalmente.</td>
        <td>Jorge Silva</td>
        <td>Comercial</td>
        <td>Mauricio Souza</td>
      </tr>
    </tbody>
  </table>
</app-es-wrapper>
