<main>
    <p class="title">Ticket #2050</p>
    <div class="box-information">
        <div class="topic">
            <p>Assunto</p>
            <p>Olá, gostaria que trocassem meu mouse, pois ele não está funcionando.</p>
        </div>
        <div class="data">
            <p>Solicitante Jorge Silva - Comercial</p>
            <p>Atendente Mauricio Souza</p>
            <p>Criação 16/01/2025</p>
            <p>Prioridade Baixa</p>
        </div>
    </div>
    <p class="title">Interações</p>
    <div class="box-interaction">
        <div class="info-interaction">
            <p>Mauricio Souza - TI</p>
            <p>Status Em andamento</p>
            <p>16/01/2025 16:50</p>
        </div>
        <div class="interaction">
            <p>Boa tarde! iremos realizar a troca do mouse assim que possivel.</p>
        </div>
        <div class="info-interaction">
            <p>Mauricio Souza - TI</p>
            <p>Status Em andamento</p>
            <p>16/01/2025 16:50</p>
        </div>
        <div class="interaction">
            <p>Boa tarde! iremos realizar a troca do mouse assim que possivel.</p>
        </div>
        <div class="">
            <textarea></textarea>
        </div>
        <div class="button-position">
            <app-es-button text="Interação"></app-es-button>
        </div>
    </div>
</main>
