<main class="main-content-interactions">
    <div class="ticket">
        <p>1.SUPORTE - EQUIPAMENTOS</p>
        <p>#2050 - Mouse ruim</p>
        <p>Aguardando atendimento</p>
        <p>24/01/2025 14:02</p>
        <app-es-button text="ENCERRAR CHAMADO" estilo="-green" tamanho="-medium">ENCERRAR CHAMADO</app-es-button>
    </div>
    <div class="interactions">
        <div class="admin">
            <p class="head-interaction">Mauricio Souza - Atendente</p>
            <h3 class="body-interaction">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
        </div>
        <div class="solic">
            <p class="head-interaction">Jorge Silva - Comercial</p>
            <h3 class="body-interaction">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        </div>
    </div>
    <div class="interaction">
        <quill-editor 
        [formControl]="conteudo" 
        [placeholder]="'Digite seu texto aqui...'"
        [modules]="customModules"
        ></quill-editor>
        <app-es-button text="ENVIAR" estilo="" tamanho="-small">ENCERRAR CHAMADO</app-es-button>
    </div>
</main>