@import "../../../../styles/variables.scss";

.input-wrapper {
  color: $es-button-primary-color;
  font-size: 15px;
  text-align: start;

  label{
    margin-bottom: 10px;
  }

  .input-content {
    width: 100%;
    display: flex;


    .icon {
      padding: $es-padding-input-button;
      background-color: $es-secundary-color;
      border-radius: 10px 0 0 10px;
      color: $es-primary-color;
    }

    input {
      width: 400px;
      padding: $es-padding-input-button;
      border-radius: 0 10px 10px 0;
      background-color: $es-secundary-color;
      border: none;
    }
  }
}
