@import '../../../styles/variables.scss';

.main-content-ticket {
  padding-top: var(--ld-header-size);
  padding: 2% 15% 2% 15%;
  background-color: #f7f6f6;
  border-radius: 10px;
  margin: 140px;

  .title {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 4px;
    }

    select,
    input {
      max-width: 100%;
      margin-bottom: 25px;
      border: 1px solid #959595;
      padding: 10px;
      border-radius: 10px;
      color: #959595;
    }

    quill-editor {
      background-color: #fafafa;
    }
  }

  .button-position {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
