<app-es-wrapper>
    <div class="box-ticket">
        <form>
            <label>Categoria</label>
            <select>
                <option>selecione uma categoria</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
            </select>
            <label>SubCategoria</label>
            <select>
                <option>selecione uma subcategoria</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
            </select>
            <label>Assunto</label>
            <quill-editor 
            [formControl]="conteudo" 
            [placeholder]="'Digite seu texto aqui...'"
            [modules]="customModules"
            ></quill-editor>
            <!-- <textarea placeholder="Descreva a sua solicitação"></textarea> -->
            <div class="button-position">
                <app-es-button text="criar"></app-es-button>
            </div>
        </form>
    </div>
</app-es-wrapper>
