<app-es-wrapper>
    <div class="main-content-ticket">
        <label class="title">Novo Chamado</label>
        <form>
            <label>Categoria</label>
            <select>
                <option>selecione uma categoria</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
            </select>
            <label>SubCategoria</label>
            <select>
                <option>selecione uma subcategoria</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
                <option>Lorem ipsum dolor</option>
            </select>
            <label>Assunto</label>
            <quill-editor 
            [formControl]="conteudo" 
            [placeholder]="'Digite seu texto aqui...'"
            [modules]="customModules"
            ></quill-editor>
            <div class="button-position">
                <app-es-button text="criar"></app-es-button>
            </div>
        </form>
    </div>
</app-es-wrapper>
