@import "../../../../styles/variables.scss";

.es-button {
  width: 300px;
  padding: $es-padding-input-button;
  border-radius: 10px;
  color: $es-secundary-color;
  background-color: $es-button-primary-color;
  font-size: 13px;
  font-weight: 600;
  border: none;
  cursor: pointer;

  &:hover {
    color: $es-button-primary-color;
    background-color: $es-secundary-color;
  }

  &.-small {
    width: 200px;
    padding: 15px;
  }
}
