@import "../../../../styles/variables.scss";

button{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    color: $es-secundary-color;
    background-color: $es-button-primary-color;
    font-size: 15px;
    font-weight: 800;
    border:none;
    box-shadow: -4px 9px 48px 5px rgba(5,5,5,0.33);
    -webkit-box-shadow: -4px 9px 48px 5px rgba(5,5,5,0.33);
    -moz-box-shadow: -4px 9px 48px 5px rgba(5,5,5,0.33);
    cursor: pointer;

    &:hover{
        color: $es-button-primary-color;
        background-color: $es-secundary-color;
    }
}